{% extends "layout/base.html" %}
{% block title %}Requireris{% endblock %}

{% block content %}
    <div class="jumbotron starter-template">
        <h1>Requireris</h1>
    </div>

    <form method="POST" role="form" class="container">
        <div class="form-group">
            <label for="secret">Secret</label>
            <input type="text" class="form-control" id="secret" name="secret" placeholder="Enter secret">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
