{% extends "layout/base.html" %}
{% block title %}Requireris - token{% endblock %}

{% block content %}
    <div class="jumbotron starter-template">
        {% if secret %}
            <h1>{{ secret }}</h1>
        {% else %}
            <h1>Nothing to show</h1>
        {% endif %}
    </div>
{% endblock %}
