<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  {% for stylesheet in stylesheets %}
  <link rel="stylesheet" href={{ stylesheet }}>
  {% endfor %}

  {% for script in scripts %}
  <script src={{ script }}></script>
  {% endfor %}

  {% endblock %}
</head>


<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Requireris</a>
      </div>
    </div>
  </div>

  <div class="content">{% block content %}{% endblock %}</div>
</body>
</html>
